.container {
  height: 100vh;
  display: flex;
  flex-flow: row;
  padding: 20px;
}

.left {
  width: 45%;
  flex-flow: column;
  display: flex;
}

.right {
  width: 55%;
  flex-flow: column;
  display: flex;
}
