.root {
  position: absolute;
  top: 0;
  bottom: 0;
  overflow-y: scroll;
  line-height: 0px;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
  border: solid 1px rgba(0,0,0,0.35);
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 33%;
  position: relative;
  padding: 20px;
}

.cell > img {
  width: 100%;
}

.cellBorder {
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  z-index: 2;
  border: solid 4px #f2c037;
}

.selected {
  border: solid 4px #f2c037;
}
