.root {
  height: 100%;
  display: flex;
  flex-flow: column;
  padding-left: 30px;
}

.controlPanelArea {
  display: flex;
  flex-flow: row;
  flex: 1;
  justify-content: center;
}

.liveTextArea {
  height: 177px;
}

.buttons {
  position: relative;
  text-align: center;
  top: 63px;
}

.buttons > button + button {
  position: absolute;
  right: 0;
}

.takeContainer {
  position: relative;
  width: 250px;
  text-align: center;
}

.takeContainer > button {
  position: relative;
  top: 180px;
}

.controlPanelLabel {
  position: relative;
  top: 420px;
  font-size: 26px;
  margin-top: 10px;
  text-align: center;
}

.liveTextLabel {
  font-size: 26px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center;
}
