.root {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.mediaSelectionGallery {
  flex: 2;
  position: relative;
}

.mediaSelectionFooter {

}

.mediaSelectionAndCue {
  height: 125px;
  position: relative;
  flex-direction: row;
  display: flex;
}

.cueContainer {
  display: table;
  height: 100%;
  margin-top: 18px;
  position: absolute;
  right: 0;
}

.cueContainer > div {
  display: table-cell;
  vertical-align: middle;
}

.mediaSelectionLabel {
  font-size: 22px;
  margin-top: 10px;
  text-align: center;
}
