.root {
  border-width: 1px;
  border-style: solid;
  borer-radius: 3px;
  border-color: rgba(0,0,0,0.35);
  background-color: rgba(0,0,0,0.1);
  margin: 0 auto;
  width: 100px;
  height: 100px;
}

.root > img {
  width: 100%;
}
